* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.container-fluid, .container {
    padding: 5em 15px;
}

.dark-btn {
    background-color: black;
    padding: 10px 25px;
    border: none;
    outline: 0;
    color: white;
    border-radius: 10px;
}

.white-btn {
    background-color: white;
    color: black;
    min-width: 150px;
    width: auto;
    max-height: 40px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.home-section {
    min-height: 600px;
    height: auto;
    background-image: url(../images/home-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content {
    width:60vw;
    height: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 10px;
}

.service-section {
    background-color: aliceblue;
}

.signup-holder {
   background-color: black;
   color: white;
   padding: 35px 20px;
   border-radius: 10px;
   margin:20px 0;
}

.card-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-holder>* {
    margin: 10px 0;
}

@media screen and (min-width: 700px) {
    .home-section {
        flex-direction: row;
        justify-content: flex-start;
    } 

    .home-content {
        width: 30vw;
        padding: 40px 20px;
    }
}